.uploadForm {
    margin-left: 35%;
    margin-right: auto;
    margin-bottom: 1.5%;
    margin-top: 3%;
    align-content: center;
}
#h{
    margin-left: 33%;
}
#alerts{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
