<div class="form">
<form method="post" action="index.php">
    <label class="radio-inline"><input type="radio" name="directory" value="Documents"><img src="Other/pictures/folder.png" width="20"><strong>Documents</strong></label>
    <label class="radio-inline"><input type="radio" name="directory" value="Other"><img src="Other/pictures/folder.png" width="20"><strong>Other</strong></label>
    <label class="radio-inline"><input type="radio" name="directory" value="Animals"><img src="Other/pictures/folder.png" width="20"><strong>Animals</strong></label>
    <label class="radio-inline"><input type="radio" name="directory" value="templates"><img src="Other/pictures/folder.png" width="20"><strong>templates</strong></label>
    <input type="submit" class="btn btn-default" value="Выбрать папку">
</form>
</div>
<pre class="globalPre">
    <div class="showDir">